<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'pages' classNames="navbar-brand" }}Home{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	{{#link-to 'blogs' tagName="li"}} <a href="#"> Blogs </a>{{/link-to}}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
 	{{outlet}}
</div>