{{!-- {{#paper-nav-container classNames="ember-app"}}
	{{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <img src="ember-logo-white.png" height="30"/>  <strong>Paper</strong>
        </div>
      </div>
    {{/paper-toolbar}}      
  {{/paper-sidenav}} 

  {{#paper-content flex-layout="column" flex=true}}
	  
		  {{#paper-toolbar}}
		    <div class="md-toolbar-tools">
		      {{#paper-button}}<a href="/">Home</a>{{/paper-button}}
		      {{#paper-button}} {{#link-to 'blogs'}}Blogs{{/link-to}}{{/paper-button}}
		    </div>
		  {{/paper-toolbar}}

		{{#paper-content classNames="md-padding" flex-layout="column" flex=true}}
		   
		   
		{{/paper-content}}
  {{/paper-content}}

{{/paper-nav-container}}
--}}
<h1>Welcome to Ember.js App</h1>
 {{outlet}}
