<header>
	<div class="navbar-fixed">
		<nav class="demo-page-nav">
		  <div class="nav-wrapper ">
		    <div class="container">
		      <a class="brand-logo">{{navTitle}}</a>
		      <a href="#" data-activates="mobile-demo" class="button-collapse "><i class="mdi-navigation-menu"></i></a>
		    </div>
		  </div>
		</nav>
	</div>
</header>
<main>
	{{outlet}}
</main>
<footer></footer>
