<div class="list-group col-md-3 panel-default">
  {{#each blog in model}}          
    {{#link-to 'blogs.blog' blog class="list-group-item"}}
      {{blog.title}}<br>
      {{!-- <small><cite> {{ date createdAt }} </cite></small> --}}
    {{/link-to}}
  {{/each}}
</div>
<div class="container col-md-9"> 
  {{outlet}}
</div>