<ul class="side-nav fixed demo-page-submenu" id="mobile-demo" style="width: 240px;">
  <li class="head">
  	{{#link-to 'frameworks'}} <h4 class="white-text brand-logo"> Frameworks</h4>{{/link-to}}
  </li>
  {{#each framework in model}}          
    <li> 
     	{{#link-to 'frameworks.framework' framework }}
     		{{framework.name}}
    	{{/link-to}}
    </li>
  {{/each}}
</ul>

<div class="container"> 
  {{outlet}}
</div>