<ul class="side-nav fixed demo-page-submenu" id="mobile-demo" style="width: 240px;">
  <li class="head">
  	<h4 class="white-text brand-logo"> Frameworks</h4>
  </li>
  {{#each framework in model}}          
    <li> 
     	{{#link-to 'frameworks.framework' framework }}
     		{{framework.name}}
    	{{/link-to}}
    </li>
  {{/each}}
</ul>

<div class="container col-md-9"> 
	<h4>Front-end javascript frameworks comparision based on Google trend </h4>
	<div class="gtrend"></div>
  {{outlet}}
</div>